<h1>編集</h1>

<% if @user.errors.any? %>
  <%= pluralize(@user.errors.count, "error") %> prohibited this object from being saved: not successfully

  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>



<%= form_for @user do |f|%>

<%=f.label :username %>
<%=f.text_field :username %>


<%=f.label :email %>
<%=f.text_field :email %>

<%=f.label :profile %>
<%=f.text_field :profile %>

<%=f.label :profile_image %>
  <%= attachment_image_tag @user, :profile_image, :fill, 200,200, format: "jpeg", fallback: 'no-image.png', onClick: "$('.img_field').click()", class: "center-block img-thumbnail img-responsive img_prev pull-left profile-img", fallback: "no_image.jpg", :width => "200", :height => "200" %>
  <div><%=f.attachment_field :profile_image, class: 'img_field'  %>
</div>

<%=f.submit"更新", class: "btn btn-primary btn-lg" %>
<%= link_to "退会する", withdraw_user_path, class: "btn btn-danger mb-5" %>


<% end %>
