<h1>レシピ一覧</h1>
<h2>
<%if params[:is_light] == "false" %>
 増量メニュー
<% elsif params[:is_light] == "true" %>
  減量メニュー
<% end %>
</h2>
<div>
  <div>
    <%= link_to '減量', posts_path(is_light: true) %>
    <%= link_to '増量', posts_path(is_light: false) %>
  </div>
  <% @posts.each do |post| %>
    <%=link_to post_path(post) do %>
    <%=attachment_image_tag post, :image, size: "300x300" %>
    <% end %>


  <ul style="list-style: none;">
  <li>
    <% if post.is_light==false %>
      （増量レシピ）
    <% else %>
      （減量レシピ）
    <% end %>

    <% if current_user.already_favorited?(post) %>
      <%= link_to post_favorites_path(post), method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to post_favorites_path(post), method: :post do %>
      <i class="far fa-heart"></i>
      <% end %>
    <% end %>
    <%=post.favorites.count%>
  </li>
  <%=post.comments.count%>コメント 

    <li>
      <%=link_to user_path(post.user.id) do %>
        <%=attachment_image_tag post.user, :profile_image,size: "80x80", format: 'jpeg', class: "rounded-circle pull-left profile-img", fallback: "no_image.jpg",size: "80x80" %>
      <% end %>

      <%=link_to user_path(post.user.id) do %>
        <%=post.user.username %>
      <% end %>
    </li>
    <li>
      <%=post.updated_at.strftime("%Y-%m-%d %H:%M") %>更新
    </li>
  </ul>
  <% end %>

</div>