<div class="container">
    <h1>レシピ一覧</h1>
  <div class="row mt-5">
    
    <h4 class="col-lg-2">
      <%if params[:is_light] == "false" %>
       増量メニュー<%=link_to"一覧へ戻る",posts_path %>
      <%elsif params[:is_light] == "true" %>
        減量メニュー<%=link_to"一覧へ戻る",posts_path %>
      <%end %>
        <div>
          <%= link_to '減量', posts_path(is_light: true) %>
        </div>
        <div>
          <%= link_to '増量', posts_path(is_light: false) %>
        </div>     
    </h4>  
    <div class="col-lg-10 offset-lg-4">
      <table>
        <% @posts.each do |post| %>
          <tr>
            <td>             
              <%=attachment_image_tag post, :image, size: "350x350" %>
            </td>
            <td>
              <%=link_to user_path(post.user.id) do %>
                <%=attachment_image_tag post.user, :profile_image,size: "80x80", format: 'jpeg', class: "rounded-circle pull-left profile-img", fallback: "no_image.jpg",size: "100x100" %>
              <% end %>
            </td>
            <td>
              <%=link_to user_path(post.user.id) do %>
                <%=post.user.username %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%=link_to post_path(post) do %>
                <%=post.title%>
              <% end %>
            <td>
          <tr>

          <tr>
            <td>
              <% if post.is_light==false %>
                （増量レシピ）
              <% else %>
                （減量レシピ）
              <% end %>

              <% if current_user.already_favorited?(post) %>
                <%= link_to post_favorites_path(post), method: :delete do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% else %>
                <%= link_to post_favorites_path(post), method: :post do %>
                  <i class="far fa-heart"></i>
                <% end %>
              <% end %>
              <%=post.favorites.count%>
            </td>
          </tr>
          <tr>
            <td>
              <%=post.comments.count%>コメント 
            </td>
          </tr>
          <tr>
            <td>
              <%=post.updated_at.strftime("%Y-%m-%d %H:%M") %>更新
            </td>
          </tr>                
        <% end %>
      </table>
    </div>
  </div>
</div>