<!DOCTYPE html>
<html>
  <head>
    <title>BodyRecipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">


  </head>

  <body>
    <header class= "sticky-top">

    <nav class="nav navbar-nav navbar-left" style="background-color: #FFCC66;">
    <%= link_to root_path,class: "navbar-item" do%>
      <h2 class="title is-4" style="font-family: fantasy;">Body_Recipe</h2>
      <% end %>
    

    <ul class="navbar-expand-lg">
    
    <% if user_signed_in? %>
      <li>ユーザー</li>
      <li><%=link_to"投稿を見る",posts_path %></li>
      <li><%=link_to"投稿する",new_post_path %></li>
      <li><%=link_to"シェフ",users_path %></li>
      <li><%=link_to"マイページ",user_path(current_user) %></li>
      <li><%= link_to "ログアウト",destroy_user_session_path,method: :delete %></li>
      <li><%=link_to"食材一覧",calories_path %></li>
    
    <% elsif admin_admin_signed_in? %>
    <li>管理者</li>
    <li><%= link_to "ログアウト", destroy_admin_admin_session_path, method: :delete %></li>
    <li><%= link_to "食材一覧",admin_calories_path %></li>
    <li><%= link_to "食材登録",new_admin_calory_path %></li>

    
    
    
    
    
    
    <%else%>
      <li>ゲストユーザー</li>
      <li><%=link_to"chefs",users_path%></li>
      <li><%=link_to "about" %></li>
      <li><%=link_to "新規登録",new_user_registration_path %></li>
      <li><%=link_to "ログイン",new_user_session_path %></li>
    <% end %>
  </ul>
  </nav>
  
  </header>
  <%= render 'layouts/flashes' %>
  
    <%= yield %>
  
  </body>
</html>
